interactions:
- request:
    body: '{"userId": "", "pageSize": 120, "pageToken": "", "searchSessionId": "c9b02aa04b03454783bbf85360b5702f",
      "indexRouting": "INDEX_ROUTING_UNSPECIFIED", "thumbnailTypes": [], "searchCondition":
      {"keyword": "sharpnel", "excludeKeyword": "", "sort": "SORT_PRICE", "order":
      "ORDER_ASC", "status": [], "sizeId": [], "categoryId": [], "brandId": [], "sellerId":
      [], "priceMin": 0, "priceMax": 0, "itemConditionId": [], "shippingPayerId":
      [], "shippingFromArea": [], "shippingMethod": [], "colorId": [], "hasCoupon":
      false, "attributes": [], "itemTypes": [], "skuIds": []}, "defaultDatasets":
      [], "serviceFrom": "suruga"}'
    headers:
      content-type:
      - application/json
      dpop:
      - eyJhbGciOiJFUzI1NiIsImp3ayI6eyJjcnYiOiJQLTI1NiIsImt0eSI6IkVDIiwieCI6Ilg3V0VzVFhuUlE0ZDVkX0wzaHhJc1BwOWRuemlib2F3aU82ZWF0RFgzRkkiLCJ5IjoiVWcycEYtVHg2M2dBdzZoNHljcHZES0JYbC1xQTlmenFlZjJTTTF0TVphUSJ9LCJ0eXAiOiJkcG9wK2p3dCJ9.eyJpYXQiOjE3MDE1MTkxMDksImp0aSI6IjFlZWU3YjZmLTljNzItOGI3Yy1jMmQ1LTk3NzBkZWQ0OGQ0NyIsImh0dSI6Imh0dHBzOi8vYXBpLm1lcmNhcmkuanAvdjIvZW50aXRpZXM6c2VhcmNoIiwiaHRtIjoiUE9TVCIsInV1aWQiOiJjYjE2ZGUwYS02ZmVhLTdiZTAtYzMyNS04NDY1NmY0OTg2YmYifQ._dylmIvAaMSROCwbsq-DUabbFXZZmrz9vWb_waYFMhWV-5i_uONxguj2he6BJ1yCMQiaPxAqnaXrqLfuEy5n8Q
      x-platform:
      - web
    method: POST
    uri: https://api.mercari.jp/v2/entities:search
  response:
    content: "{\"items\":[{\"id\":\"m98469010672\",\"sellerId\":\"163964109\",\"buyerId\":\"119696981\",\"status\":\"ITEM_STATUS_SOLD_OUT\",\"name\":\"\u97F3\u5727\u611A\u9023\u968A(\u30B7\u30E3\u30FC\u30D7\u30CD\u30EB+m1dy)\u7206\u840C\u96FB\u6CE2\u6CE8\u610F\u5831\uFF01\",\"price\":\"800\",\"created\":\"1689046695\",\"updated\":\"1694249513\",\"thumbnails\":[\"https://static.mercdn.net/c!/w=240,f=webp/thumb/photos/m98469010672_1.jpg?1689046695\"],\"itemType\":\"ITEM_TYPE_MERCARI\",\"itemConditionId\":\"2\",\"shippingPayerId\":\"2\",\"itemSizes\":[],\"itemBrand\":null,\"itemPromotions\":[],\"shopName\":\"\",\"itemSize\":null,\"shippingMethodId\":\"14\",\"categoryId\":\"700\"},{\"id\":\"m15930625112\",\"sellerId\":\"596083831\",\"buyerId\":\"226034831\",\"status\":\"ITEM_STATUS_SOLD_OUT\",\"name\":\"STEELER
      / STEELER \u8F38\u5165\u76E4 \u30A4\u30F3\u30B0\u30F4\u30A7\u30A4\",\"price\":\"1000\",\"created\":\"1691404875\",\"updated\":\"1694232673\",\"thumbnails\":[\"https://static.mercdn.net/c!/w=240,f=webp/thumb/photos/m15930625112_1.jpg?1691404875\"],\"itemType\":\"ITEM_TYPE_MERCARI\",\"itemConditionId\":\"3\",\"shippingPayerId\":\"[...]
- request:
    body: '{"userId": "", "config": {"responseToggles": ["QUERY_SUGGESTION_WEB_1"]},
      "pageSize": 120, "pageToken": "", "searchSessionId": "1e5da97470ea455a9fd161694abb7032",
      "source": "BaseSerp", "indexRouting": "INDEX_ROUTING_UNSPECIFIED", "thumbnailTypes":
      [], "searchCondition": {"keyword": "sharpnel", "excludeKeyword": "", "sort":
      "SORT_PRICE", "order": "ORDER_ASC", "status": [], "sizeId": [], "categoryId":
      [], "brandId": [], "sellerId": [], "priceMin": 0, "priceMax": 0, "itemConditionId":
      [], "shippingPayerId": [], "shippingFromArea": [], "shippingMethod": [], "colorId":
      [], "hasCoupon": false, "attributes": [], "itemTypes": [], "skuIds": [], "shopIds":
      [], "excludeShippingMethodIds": []}, "serviceFrom": "suruga", "withItemBrand":
      true, "withItemSize": false, "withItemPromotions": true, "withItemSizes": true,
      "withShopname": false, "useDynamicAttribute": true, "withSuggestedItems": true,
      "withOfferPricePromotion": true, "withProductSuggest": true, "withParentProducts":
      false, "withProductArticles": true, "withSearchConditionId": false, "withAuction":
      true, "laplaceDeviceUuid": "671002b548404d2fa28cd518ec7ffe1d"}'
    headers:
      content-type:
      - application/json
      dpop:
      - eyJhbGciOiJFUzI1NiIsImp3ayI6eyJjcnYiOiJQLTI1NiIsImt0eSI6IkVDIiwieCI6Im5nVUhvQU1OOWdQWEVaSGM4NHdTbEtQU01BWnM5RGJuRFZTWGkyRm1PRmsiLCJ5Ijoid2x3LUItdXUxMGdDNHc0TmQ3d1ZjZjI2Q0xOVlVYUzdYYllobVNGOW5jTSJ9LCJ0eXAiOiJkcG9wK2p3dCJ9.eyJpYXQiOjE3NzE3OTAzNjIsImp0aSI6ImI4YmVlOWFlLTAzODgtMDUwZi01ZDMwLWU4NTdmMTk2NTVlYyIsImh0dSI6Imh0dHBzOi8vYXBpLm1lcmNhcmkuanAvdjIvZW50aXRpZXM6c2VhcmNoIiwiaHRtIjoiUE9TVCIsInV1aWQiOiIxOTMyN2E4Zi03MzlhLTdmNDQtZGI4Zi1kNTRlYzQ2NTEwZjEifQ.6VxSBM4jct7kf8giGweX_UPv6H6nnca58axZj16TwqLxoi3eY_HhrJTGxBhVAj2QM8Dm-S4ykVrlsue98UG23A
      x-platform:
      - web
    method: POST
    uri: https://api.mercari.jp/v2/entities:search
  response:
    content: "{\"meta\":{\"nextPageToken\":\"\",\"previousPageToken\":\"\",\"numFound\":\"61\",\"properties\":[]},\"items\":[{\"id\":\"2JJXtyLypEKy48A3WALr8W\",\"sellerId\":\"0\",\"buyerId\":\"\",\"status\":\"ITEM_STATUS_ON_SALE\",\"name\":\"\u30B9\u30B1\u30FC\u30EB75
      SFG-36 \u30B7\u30E3\u30FC\u30D7\u30EC\u30C3\u30C9 (\u6C34\u6027\u30A2\u30AF\u30EA\u30EB)\",\"price\":\"717\",\"created\":\"1766102695\",\"updated\":\"1767061054\",\"thumbnails\":[\"https://assets.mercari-shops-static.com/-/small/plain/2JJVsTnh8EK7K697sMGJ3f.jpg@webp\"],\"itemType\":\"ITEM_TYPE_BEYOND\",\"itemConditionId\":\"1\",\"shippingPayerId\":\"0\",\"itemSizes\":[],\"itemBrand\":null,\"itemPromotions\":[],\"shopName\":\"\",\"itemSize\":null,\"shippingMethodId\":\"0\",\"categoryId\":\"6757\",\"isNoPrice\":false,\"title\":\"\",\"isLiked\":false,\"photos\":[{\"uri\":\"https://assets.mercari-shops-static.com/-/large/plain/2JJVsTnh8EK7K697sMGJ3f.jpg@webp\"}],\"auction\":null,\"shop\":{\"id\":\"CAFgjNohcD8dMsMEHSHaKn\"}},{\"id\":\"F9jt8SoMxPR7LJaeRh9NRW\",\"sellerId\":\"509586494\",\"buyerId\":\"\",\"status\":\"ITEM_STATUS_SOLD_OUT\",\"name\":\"\u56FD\u5185\u76E4CD\u2605\u30EA\u30A2/Lia\u25A0
      enigmaticLIA4-Anthemnia L's core- \u3010QLC00002/4933032006749\u3011Y70654\",\"price\":\"1000\",\"created\":\"1759831481\",\"updated\":\"1768870662\",\"thumbnails\":[\"https://assets.mercari-shops-static.com/-/small/plain/Js5EyvhuMHsZ3VUTBpWW7f.jpg@webp\"],\"itemType\":\"ITEM_TYPE_[...]
