interactions:
- request:
    body: '{"userId": "", "pageSize": 120, "pageToken": null, "searchSessionId": "8079e8d77e654fa0b16f0dde2f8e77f1",
      "indexRouting": "INDEX_ROUTING_UNSPECIFIED", "thumbnailTypes": [], "searchCondition":
      {"keyword": "cyclick", "sort": "SORT_SCORE", "order": "ORDER_DESC", "status":
      [], "sizeId": [], "categoryId": [75], "brandId": [], "sellerId": [], "priceMin":
      0, "priceMax": 0, "itemConditionId": [], "shippingPayerId": [], "shippingFromArea":
      [], "shippingMethod": [], "colorId": [], "hasCoupon": false, "attributes": [],
      "itemTypes": [], "skuIds": [], "excludeKeyword": null}, "defaultDatasets": [],
      "serviceFrom": "suruga"}'
    headers:
      content-type:
      - application/json
      dpop:
      - eyJhbGciOiJFUzI1NiIsImp3ayI6eyJjcnYiOiJQLTI1NiIsImt0eSI6IkVDIiwieCI6InBFVUFxaERFV1ppZHRxbVpZSGpIZTdON3RmQTVkSlBLSDZOQW9yQ0VzckUiLCJ5IjoiQUplZGNtbGU3NlV1RzdMUWFVUm5panY3N0VkYm1Nem5laU10TVhsZHRpVSJ9LCJ0eXAiOiJkcG9wK2p3dCJ9.eyJpYXQiOjE3MTk2MDQzMjUsImp0aSI6IjdmZmJmZGY0LTg4ODMtNWMwOS0xYzhkLTBkNGE1YWQ1M2RiNyIsImh0dSI6Imh0dHBzOi8vYXBpLm1lcmNhcmkuanAvdjIvZW50aXRpZXM6c2VhcmNoIiwiaHRtIjoiUE9TVCIsInV1aWQiOiI1ZGRhOGY1Yy01NjVkLTMyNmYtMGJlOS00YzdiNGU4M2RlYzgifQ.Uf1qloj4msXmJ0gvSRl9UcS-b8P81zkwmBuw7s2dOcDxVshpsjg7H91jam9HfLwUrhRLWbt1bzfXAPGTPI8iuQ
      x-platform:
      - web
    method: POST
    uri: https://api.mercari.jp/v2/entities:search
  response:
    content: "{\"meta\":{\"nextPageToken\":\"\",\"previousPageToken\":\"\",\"numFound\":\"3\"},\"items\":[{\"id\":\"m78767763061\",\"sellerId\":\"721974225\",\"buyerId\":\"\",\"status\":\"ITEM_STATUS_ON_SALE\",\"name\":\"DJ
      SHARPNEL Cyclick CD (SRPC-0026)\",\"price\":\"23000\",\"created\":\"1718383194\",\"updated\":\"1719548737\",\"thumbnails\":[\"https://static.mercdn.net/c!/w=240,f=webp/thumb/photos/m78767763061_1.jpg?1718383194\"],\"itemType\":\"ITEM_TYPE_MERCARI\",\"itemConditionId\":\"3\",\"shippingPayerId\":\"2\",\"itemSizes\":[],\"itemBrand\":null,\"itemPromotions\":[],\"shopName\":\"\",\"itemSize\":null,\"shippingMethodId\":\"17\",\"categoryId\":\"700\",\"isNoPrice\":false,\"title\":\"\",\"isLiked\":false},{\"id\":\"m94338609985\",\"sellerId\":\"276747051\",\"buyerId\":\"\",\"status\":\"ITEM_STATUS_ON_SALE\",\"name\":\"CYCLICK
      CONTROL - UPSHFT SHOWCASE\",\"price\":\"800\",\"created\":\"1693961420\",\"updated\":\"1719111120\",\"thumbnails\":[\"https://static.mercdn.net/c!/w=240,f=webp/thumb/photos/m94338609985_1.jpg?1693961420\"],\"itemType\":\"ITEM_TYPE_MERCARI\",\"itemConditionId\":\"3\",\"shippingPayerId\":\"2\",\"itemSizes\":[],\"itemBrand\":null,\"itemPromotions\":[],\"shopName\":\"\",\"itemSize\":null,\"shippingMethodId\":\"14\",\"categoryId\":\"700\",\"isNoPrice\":false,\"title\":\"\",\"isLiked\":false},{\"id\":\"m47678535871\",\"sellerId\":\"163964109\",\"buyerId\":\"\",\"status\":\"ITEM_STATUS_SOLD_OUT\",\"name\":\"(\u30B8\u30E3\u30F3\u30AF)DJ
      SHARPNEL CYCLICK\",\"price\":\"1000\",\"created\":\"1688951830\",\"updated\":\"1689075651\",\"thumbnails\":[\"https://static.mercdn.net/c!/w=240,f=webp/thumb/photos/m47678535871_1.jpg?1688951830\"],\"itemType\":\"ITEM_TYPE_MERCARI\",\"itemConditionId\":\"6\",\"shippingPayerId\":\"2\",\"itemSizes\":[],\"itemBrand\":null,\"itemPromotions\":[],\"shopName\":\"\",\"itemSize\":null,\"shippingMethodId\":\"14\",\"categoryId\":\"700\",\"isNoPrice\":false,\"title\":\"\",\"isLiked\":false}],\"components\":[],\"searchCondition\":null,\"searchConditionId\":\"\"}\n"
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
