interactions:
- request:
    body: '{"userId": "", "pageSize": 120, "pageToken": "", "searchSessionId": "8e6021ef702048ffb5ba45e6be888c4e",
      "indexRouting": "INDEX_ROUTING_UNSPECIFIED", "thumbnailTypes": [], "searchCondition":
      {"keyword": "sharpnel mad breaks", "excludeKeyword": "", "sort": "SORT_SCORE",
      "order": "ORDER_DESC", "status": [], "sizeId": [], "categoryId": [], "brandId":
      [], "sellerId": [], "priceMin": null, "priceMax": null, "itemConditionId": [],
      "shippingPayerId": [], "shippingFromArea": [], "shippingMethod": [], "colorId":
      [], "hasCoupon": false, "attributes": [], "itemTypes": [], "skuIds": []}, "defaultDatasets":
      [], "serviceFrom": "suruga"}'
    headers:
      content-type:
      - application/json
      dpop:
      - eyJhbGciOiJFUzI1NiIsImp3ayI6eyJjcnYiOiJQLTI1NiIsImt0eSI6IkVDIiwieCI6IlZEYTktd05ZWGs2WmZPX0V0ZmdIR2tEYmNzdV9MTk5xRzg4OXBHckR1THMiLCJ5IjoiSlV4RDI4NGNraGM0ckxiV0lRX3VaY0cwUDVzQkpZaDB0UVd2cDVqRGZiQSJ9LCJ0eXAiOiJkcG9wK2p3dCJ9.eyJpYXQiOjE2Nzg2NTM3NTgsImp0aSI6IjhlZGZjMjQ1LTNlMWYtODlmNS0wNDg1LWI5YjVmYTNhNTc3ZSIsImh0dSI6Imh0dHBzOi8vYXBpLm1lcmNhcmkuanAvdjIvZW50aXRpZXM6c2VhcmNoIiwiaHRtIjoiUE9TVCIsInV1aWQiOiI0MzhmMDRkZS1hYTI1LTQ3ZDItOTFhNS0wYTNiNzg5ZWFjMGMifQ.pCQZEH4dRkGL31A4lVyKeomTJshAK04YMtYfeP9CNJAMV9o9PRGL52iL37lP_crBh5O7QAJmeGoLCKNAuWR84A
      x-platform:
      - web
    method: POST
    uri: https://api.mercari.jp/v2/entities:search
  response:
    content: "{\"items\":[{\"id\":\"m14002428417\",\"sellerId\":\"492113432\",\"buyerId\":\"439352912\",\"status\":\"ITEM_STATUS_SOLD_OUT\",\"name\":\"DJ
      SHARPNEL MAD BREAKS SRPC0019\",\"price\":\"6000\",\"created\":\"1674890026\",\"updated\":\"1675309171\",\"thumbnails\":[\"https://static.mercdn.net/c!/w=240,f=webp/thumb/photos/m14002428417_1.jpg?1674890026\"],\"itemType\":\"ITEM_TYPE_MERCARI\",\"itemConditionId\":\"3\",\"shippingPayerId\":\"2\",\"itemSizes\":[],\"itemBrand\":null,\"itemPromotions\":[],\"shopName\":\"\",\"itemSize\":null},{\"id\":\"m52059122418\",\"sellerId\":\"485869194\",\"buyerId\":\"727922035\",\"status\":\"ITEM_STATUS_SOLD_OUT\",\"name\":\"DJ
      Sharpnel \u2013 Mad Breaks\",\"price\":\"6500\",\"created\":\"1670864714\",\"updated\":\"1676614286\",\"thumbnails\":[\"https://static.mercdn.net/c!/w=240,f=webp/thumb/photos/m52059122418_1.jpg?1670864714\"],\"itemType\":\"ITEM_TYPE_MERCARI\",\"itemConditionId\":\"5\",\"shippingPayerId\":\"2\",\"itemSizes\":[],\"itemBrand\":null,\"itemPromotions\":[],\"shopName\":\"\",\"itemSize\":null},{\"id\":\"m47830503106\",\"sellerId\":\"215200259\",\"buyerId\":\"\",\"status\":\"ITEM_STATUS_ON_SALE\",\"name\":\"DJ
      Sharpnel \u2013 Mad Breaks = \u30DE\u30C3\u30C9\u30D6\u30EC\u30A4\u30AF\u30B9\",\"price\":\"12500\",\"created\":\"1669724932\",\"updated\":\"1671984510\",\"thumbnails\":[\"https://static.mercdn.net/c!/w=240,f=webp/thumb/photos/m47830503106_1.jpg?1669724932\"],\"itemType\":\"ITEM_TYPE_MERCARI\",\"itemConditionId\":\"3\",\"shippingPayerId\":\"2\",\"itemSizes\":[],\"itemBrand\":null,\"itemPromotions\":[],\"shopName\":\"\",\"itemSize\":null}],\"meta\":{\"nextPageToken\":\"\",\"previousPageToken\":\"\",\"numFound\":\"3\"},\"components\":[{\"rowNumber\":\"0\",\"shallowFacet\":{}}]}\n"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: '{"userId": "", "config": {"responseToggles": ["QUERY_SUGGESTION_WEB_1"]},
      "pageSize": 120, "pageToken": "", "searchSessionId": "43cb6f802b3b4b6ca64fd65ff54e34e5",
      "source": "BaseSerp", "indexRouting": "INDEX_ROUTING_UNSPECIFIED", "thumbnailTypes":
      [], "searchCondition": {"keyword": "sharpnel mad breaks", "excludeKeyword":
      "", "sort": "SORT_SCORE", "order": "ORDER_DESC", "status": [], "sizeId": [],
      "categoryId": [], "brandId": [], "sellerId": [], "priceMin": 0, "priceMax":
      0, "itemConditionId": [], "shippingPayerId": [], "shippingFromArea": [], "shippingMethod":
      [], "colorId": [], "hasCoupon": false, "attributes": [], "itemTypes": [], "skuIds":
      [], "shopIds": [], "excludeShippingMethodIds": []}, "serviceFrom": "suruga",
      "withItemBrand": true, "withItemSize": false, "withItemPromotions": true, "withItemSizes":
      true, "withShopname": false, "useDynamicAttribute": true, "withSuggestedItems":
      true, "withOfferPricePromotion": true, "withProductSuggest": true, "withParentProducts":
      false, "withProductArticles": true, "withSearchConditionId": false, "withAuction":
      true, "laplaceDeviceUuid": "b1ecc4c4ad8c4d619bff456a17181a8e"}'
    headers:
      content-type:
      - application/json
      dpop:
      - eyJhbGciOiJFUzI1NiIsImp3ayI6eyJjcnYiOiJQLTI1NiIsImt0eSI6IkVDIiwieCI6Ik9TbS1vVllmRUx6akdyMzZZOElpc2NRZnBVVVBENWhGUUVfV25waUFJQ3MiLCJ5IjoiTnM1MFYzVVFuTFgyV1FMV0Y0UGk1UG9aY3RkR3NnMGtFcWNaakdWSDRCRSJ9LCJ0eXAiOiJkcG9wK2p3dCJ9.eyJpYXQiOjE3NzE3OTAzNjEsImp0aSI6IjNkYTVhZjdkLTU4ZmQtNDAzYy05NjFjLTIzNmI0NWZmNTUxMyIsImh0dSI6Imh0dHBzOi8vYXBpLm1lcmNhcmkuanAvdjIvZW50aXRpZXM6c2VhcmNoIiwiaHRtIjoiUE9TVCIsInV1aWQiOiI4YjY2Yjc1My03M2UyLTI5NTYtYjFjYi0zZGY0ZjFkMjYxZTgifQ.49FK6mcrR1EG_JgbavO49kT_zwr3u1fkAwD9fg32auIiwjn-qAoVHo1_zyyx3VI5wrsT-bdV7xSz_P5kowB99g
      x-platform:
      - web
    method: POST
    uri: https://api.mercari.jp/v2/entities:search
  response:
    content: "{\"meta\":{\"nextPageToken\":\"\",\"previousPageToken\":\"\",\"numFound\":\"2\",\"properties\":[]},\"items\":[{\"id\":\"m91333057050\",\"sellerId\":\"760050342\",\"buyerId\":\"\",\"status\":\"ITEM_STATUS_ON_SALE\",\"name\":\"MAD
      BREAKS DJ SHARPNEL \u30D7\u30EC\u30B9\u76E4\\u0026CD-R\u76E4\",\"price\":\"55000\",\"created\":\"1764148609\",\"updated\":\"1764148609\",\"thumbnails\":[\"https://static.mercdn.net/thumb/item/webp/m91333057050_1.jpg?1764148609\"],\"itemType\":\"ITEM_TYPE_MERCARI\",\"itemConditionId\":\"3\",\"shippingPayerId\":\"2\",\"itemSizes\":[],\"itemBrand\":null,\"itemPromotions\":[],\"shopName\":\"\",\"itemSize\":null,\"shippingMethodId\":\"14\",\"categoryId\":\"694\",\"isNoPrice\":false,\"title\":\"\",\"isLiked\":false,\"photos\":[{\"uri\":\"https://static.mercdn.net/item/detail/webp/photos/m91333057050_1.jpg?1764148609\"}],\"auction\":null,\"shop\":null},{\"id\":\"m19724608333\",\"sellerId\":\"687207235\",\"buyerId\":\"\",\"status\":\"ITEM_STATUS_SOLD_OUT\",\"name\":\"DJ
      SHARPNEL MAD BREAKS\",\"price\":\"13800\",\"created\":\"1741429956\",\"updated\":\"1741774037\",\"thumbnails\":[\"https://static.mercdn.net/thumb/item/webp/m19724608333_1.jpg?1741429956\"],\"itemType\":\"ITEM_TYPE_MERCARI\",\"itemConditionId\":\"4\",\"shippingPayerId\":\"2\",\"itemSizes\":[],\"itemBrand\":null,\"itemPromotions\":[],\"shopName\":\"\",\"itemSize\":null,\"shippingMethodId\":\"17\",\"categoryId\":\"700\",\"isNoPrice\":false,\"title\":\"\",\"isLiked\":false,\"photos\":[{\"uri\":\"https://static.mercdn.net/item/detail/webp/photos/m19724608333_1.jpg?1741429956\"}],\"auction\":null,\"shop\":null}],\"components\":[{\"rowNumber\":\"-1\",\"querySuggest\":{\"suggestFacets\":{\"facets\":[{\"facetId\":\"1\\u001faXRlbV9jb25kaXRpb25faWQfMw==\",\"displayNamesMap\":{\"ja\":\"\u76EE\u7ACB\u3063\u305F\u50B7\u3084\u6C5A\u308C\u306A\u3057\"},\"searchableValue\":\"3\",\"leaf\":true,\"selected\":false,\"metadata\":null,\"selectedState\":\"FACET_SELECTED_STATE_UNSPECIFIED\",\"parentPath\":null,\"nestedFacets\":null,\"searchableKey\":\"item_condition_id\"},{\"facetId\":\"1\\u001faXRlbV9jb25kaXRpb25faWQfNA==\",\"displayNamesMap\":{\"ja\":\"\u3084\u3084\u50B7\u3084\u6C5A\u308C\u3042\u308A\"},\"searchableValue\":\"4\",\"leaf\":true,\"selected\":false,\"metadata\":null,\"selectedState\":\"FACET_SELECTED_STATE_UNSPECIFIED\",\"parentPath\":null,\"nestedFacets\":null,\"searchableKey\":\"item_condition_id\"},{\"facetId\":\"1\\u001fcHJpY2VfbWluHzEzODAw\",\"displayNamesMap\":{\"ja\":\"\xA513,800~\"},\"searchableValue\":\"13800\",\"lea[...]
